<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-header >
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">

        <!--Filtering by todo Owners within Angular-->
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <mat-form-field class="todo-input-field">
            <mat-label>Owner</mat-label>
            <input matInput id="todo-owner-input" placeholder="Filter by owner" [(ngModel)]="todoOwner"
              (input)="updateFilter()">
          </mat-form-field>

          <!--Filtering by todo Category within Angular-->
          <mat-form-field class="todo-input-field">
            <mat-label>Category</mat-label>
            <input matInput id="todo-category-input" placeholder="Filter by category" [(ngModel)]="todoCategory"
              (input)="updateFilter()">
          </mat-form-field>
          
          <mat-form-field class="input-field">
              <mat-label>Limit</mat-label>
              <input matInput id="todo-limit-input" type="number" placeholder="Limit displayed todos"
              min="0" max="300" [(ngModel)]="todoLimit" (input)="getTodosFromServer()">
            </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!--Filtering todos by body on the server-->
          <mat-form-field class="todo-input-field">
            <mat-label>Body</mat-label>
            <input matInput id="todo-body-input" type="string" placeholder="Filter by body" [(ngModel)]="todoBody"
              (input)="getTodosFromServer()">
          </mat-form-field>

          <mat-form-field class="todo-input-field">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoStatus" id="todo-status-select">
              <mat-option>--</mat-option>
              <mat-option value="complete">Complete</mat-option>
              <mat-option value="incomplete">Incomplete</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="todo-input-field">
            <mat-label>Sort By</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="orderBy" id="todo-order-select">
              <mat-option>--</mat-option>
              <mat-option value="owner">Owner</mat-option>
              <mat-option value="category">Category</mat-option>
              <mat-option value="status">Status</mat-option>
              <mat-option value="body">Body</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredTodos; else todosError">

    <!-- Card grid view -->
    <div fxLayout="row wrap" fxLayoutGap="10px" class="todo-cards-container">
      <app-todo-card simple="true" *ngFor="let todo of filteredTodos" class="todo-card" [todo]="todo"
        fxFlex="1 1 280px"></app-todo-card>
    </div>

  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #todosError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="todo-error">
      <mat-error>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>
