<div fxLayout="row">
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
        <mat-card class="search-card">
            <mat-card-header>
                <mat-card-title class="todo-list-title">Todos</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
            </mat-card-content>

        </mat-card>
    </div>
</div>

<div fxLayout="row">
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredTodos">
        <!-- grid view -->
        <div fxLayout="row wrap" fxLayoutGap="10px" class="todo-cards-container">
            <app-todo-card simple="true" *ngFor="let todo of filteredTodos" class="todo-card" [todo]="todo"
                fxFlex="1 1 280px"></app-todo-card>
        </div>

    </div>
</div>
